<ul class="discounts">
    <li *ngFor="let successfulDiscount of successfulDiscounts">
      <label class='property'>business: </label>{{successfulDiscount[1]['name']}} 
      <label class='property'>prize:</label>{{successfulDiscount[0]['prize']}} 
    </li>
  </ul>